

body {
    color: #40514E;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.52rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}


h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

a {
    color: #036e71;
    text-decoration: none;
}

.top-container {
    background-color: #E4F9F5 ;
    position: relative;
    padding: 6.3rem;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 40px;
}

.middle-container {
    margin: 100px 0;
}

.footer-link {
    padding: 30px;
   
    color: #11999E;

}

.top-cloud {
    position: absolute;
    top: 3.15rem;
    right: 20rem;
}

.bottom-cloud {
    position: absolute;
    left: 15.9rem;
}


.profile-img {
    border: 1px solid black;
    border-radius: 50%;
}



.design-img{
    border: 1px solid black;
    border-radius: 50%;
    float: left;
    margin-right: 30px;
    width: 20%;
}

.cooking-img{
    border: 1px solid black;
    border-radius: 50%;
    float: right;
    margin-left: 20px;
    width: 30%;
}


.skill-row {
    margin: 100px auto;
    width:50%;
    text-align: left;
}

p {
    line-height: 2;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
   font-weight: bold;
   
}

.profile-text {
    width: 50%;
    margin: 0 auto;
}

hr {
    margin-top: 30px;
    width: 5%;
    border: dotted 5px #c3cece;
    border-bottom: 0px;
}

.copyright{
    margin-top: 40px;
    color: #EAF6F6;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

  .contact-me {
    padding: 50px;
  }

  .contact-me-text {
    padding: 20px;
}